<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="caching" type="Doms.ThumbCached.Configuration.CachingConfigSection, Caching" />
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>

  <caching>
    <cache>
      <node id="tcd001" poolSize="32" persistEnable="true">
        <storing indexFile="d:\tcd_data\imagethumbnail.db" dataFile="d:\tcd_data\imagethumbnail.dat"/>
      </node>
      <node id="tcd002" poolSize="32" persistEnable="true">
        <storing indexFile="d:\tcd_data\formattedtext.db" dataFile="d:\tcd_data\formattedtext.dat"/>
      </node>
      <node id="tcd003" poolSize="32" persistEnable="false"/>
    </cache>
  </caching>

  <nlog throwExceptions="true">
    <targets async="true">
      <target name="file" type="File" fileName="${basedir}/log/log_${shortdate}.txt"
              layout="${date:format=HH\:mm\:ss}|${level}|  ${message}"/>
      <target name="console" type="Console"
              layout="${date:format=HH\:mm\:ss}|${level}|  ${message}"/>
    </targets>
    <rules>
      <logger name="*" minlevel="Warn" writeTo="file" />
      <logger name="*" minlevel="Info" writeTo="console" />
    </rules>
  </nlog>
  
</configuration>