<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="tcdClient" type="Doms.TCClient.Configuration.TCClientConfigSection, TCClient" />
  </configSections>
  <tcdClient>
    <connection maxconn="50" timeout="5"/>
    <serverEndpoints>
      <endpoint name="c001" address="127.0.0.1" port="18500" />
      <endpoint name="c002" address="127.0.0.1" port="18501" />
    </serverEndpoints>
    <nonPersistent>
      <node number="255" address="127.0.0.1" port="18600"/>
    </nonPersistent>
  </tcdClient>
</configuration>